# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.pyi
*.pyz
*.pyw
*.pyz/
*.pyw/
*.egg-info/
dist/
build/
*.egg
*.whl

# Virtual environments
venv/
env/
.venv/
.venv*/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Miscellaneous
*.bak
*.swp
.DS_Store
